.content {
  display: flex;
  margin: 1.5% auto 5%;
  max-width: 90%;
}

.query-form {
  width: 90%;
  align-self: center;
  padding: 2.5% 5%;
}

.album-photo {
  img {
    width: 90%;
    align-content: center;
  }
}
