server {
  listen 80;

    location /es_url/_search {
      proxy_pass ${ES_URL};
      proxy_pass_request_headers      on;
    }

  location / {
    root /usr/share/nginx/html;
    index index.html index.htm;
    try_files ${DOLLAR}uri ${DOLLAR}uri/ /index.html =404;
  }
}
