<div id="top-nav">
  <div class="bare-left"></div>
  <div style="margin-right: 18px">
    <ul class="breadcrumb">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/search">Advanced search</a></li>
      <li><a routerLink="/author" [queryParams]="{authors: authorName}">{{authorName}}</a></li>
    </ul>
  </div>
  <div class="bare-right">
    <app-simple-search></app-simple-search>
  </div>
</div>

<div class="content">
  <div class="left">
    <h1>
      <mat-icon aria-hidden="false" aria-label="Album icon">person</mat-icon>
      {{authorName}}</h1>
    <ng-container *ngIf="author">
      <ng-container *ngIf="author.aliases.length > 0">
        <ng-container *ngFor="let alias of author.aliases">
          <p>{{alias.name}}</p>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="author.type">
        <h2>
          <mat-icon aria-hidden="false" aria-label="Album icon">group</mat-icon>
          Artist type: {{author.type}}</h2>
      </ng-container>
      <ng-container *ngIf="author.gender">
        <h2>
          <mat-icon aria-hidden="false" aria-label="Album icon">tag_faces</mat-icon>
          Gender: {{author.gender}}</h2>
      </ng-container>
      <ng-container *ngIf="author.lifespan">
        <h2>
          <mat-icon aria-hidden="false" aria-label="Album icon">all_inclusive</mat-icon>
          Lifespan: {{author.lifespan}}</h2>
      </ng-container>
      <ng-container *ngIf="author.area.name">
        <h2>
          <mat-icon aria-hidden="false" aria-label="Album icon">landscape</mat-icon>
          Area: {{author.area.name}}</h2>
      </ng-container>
      <ng-container *ngIf="author.rating.value">
        <h2>
          <mat-icon aria-hidden="false" aria-label="Album icon">star</mat-icon>
          Rating: {{author.rating.value}}
          <ng-container *ngIf="author.rating['votes-count']">({{author.rating["votes-count"]}} votes)</ng-container>
        </h2>
      </ng-container>
    </ng-container>
  </div>

  <div class="right">
    <mat-form-field class="query-90" (keyup.enter)="updateParamsAndSearch()">
      <mat-label>Query Author's Lyrics</mat-label>
      <input matInput placeholder="Query" [formControl]="queryFormControl">
    </mat-form-field>


    <app-results-list [queryResults]="queryResults" [totalSize]="queryResultsCount"
                      [startOffset]="startOffset" [startSize]="startPageSize"
                      (pagingEvent)="onPageChange($event)" (sortingEvent)="onSortChange($event)"
    ></app-results-list>
  </div>
</div>

