.song-result {
  margin: 2.5% 0;
  padding: 2.5%;
  background: #eeeeee;
  display: flex;

  .album-photo {
    width: 200px;
    float: left;
  }

  .info {
    padding: 2.5%;
    float: right;
    width: 100%;
  }
}



