<div class="content" role="main">
  <div class="left">
    <mat-form-field class=query-form>
      <mat-label>Query</mat-label>
      <input matInput placeholder="Query" [formControl]="queryFormControl">
    </mat-form-field>

    <div>
      <app-facet-chips-picker placeholder="Album" [allAvailable]="albums" [pickedOnStart]="onStartAlbums"
                              (onChipsChange)="chipsChanges($event,ChipChange.ALBUMS)"></app-facet-chips-picker>
    </div>

    <div>
      <app-facet-chips-picker placeholder="Artist" [allAvailable]="authors" [pickedOnStart]="onStartAuthors"
                              (onChipsChange)="chipsChanges($event,ChipChange.AUTHORS)"></app-facet-chips-picker>
    </div>

    <div>
      <app-facet-chips-picker placeholder="Genre" [allAvailable]="genres" [pickedOnStart]="onStartGenres"
                              (onChipsChange)="chipsChanges($event,ChipChange.GENRES)"></app-facet-chips-picker>
    </div>

    <div class="center-div">
      From:
      <app-date-facet #fromSlider [minDate]="minDate" [maxDate]="maxDate" [inverted]="false"
                      (dateChange)="onMinDateChange($event)" [startValue]="onStartMinDate"></app-date-facet>
    </div>

    <div>
      To:
      <app-date-facet #toSlider [minDate]="minDate" [maxDate]="maxDate" [inverted]="true"
                      (dateChange)="onMaxDateChange($event)" [startValue]="onStartMaxDate"></app-date-facet>
    </div>

    <div class="center-div" align="center">
      <button mat-raised-button (click)="updateParamsAndSearch()">search</button>
    </div>
  </div>

  <div class="right">
    <app-results-list [queryResults]="queryResults" [totalSize]="queryResultsCount"
                      [startOffset]="startOffset" [startSize]="startPageSize"
                      (pagingEvent)="onPageChange($event)" (sortingEvent)="onSortChange($event)"></app-results-list>
  </div>
</div>
