#top-nav {
  display: flex;
  margin-bottom: 12px;
}

#song-title {
  margin-bottom: 2px;
}

.title-heading {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2
}

.subtitle-heading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2
}

ul.details {
  list-style: none;
  padding: 0;
  margin: 0;


  li {
    display:  flex;
    vertical-align: middle;
    margin-bottom: 4px;

    mat-icon {
      padding-right: 8px;
    }
  }
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background: #eeeeee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
}

.box {
  border-radius: 5px;
  padding: 20px;
}

.song-detail {
  grid-column: 2 / 4;
  grid-row: 1;
}

.song-lyrics {
  grid-column: 2 / 4;
  grid-row: 2;
}

.music-map {
  grid-column: 4;
  grid-row: 1 / 3;
}

.album-info {
  grid-column: 1;
  grid-row: 1 / 3;
}


