<div id="top-nav">
  <div>
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Genre</a></li>
      <li><a href="#">Author</a></li>
      <li><a href="#">Album</a></li>
      <li>Song</li>
    </ul>
  </div>
  <app-simple-search></app-simple-search>
</div>
<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile [colspan]="1" [rowspan]="1" style="background-color: lightblue">
    <div>
      <!--<img [src]="coverImageUrl"
           alt={{song.album.name}}
           style="width: 200px">-->
    </div>
    <div>
      <p>{{song.album.name}}</p>

    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color: indianred">
    Song details
    <h1>{{song.title}}</h1>
    <h2 [textContent]="getArtistString(song.author, song.feats)">Artist and feats</h2>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="3" style="background-color: dimgray">
    <iframe id="musicMapIframe"
            title="Music Map"
            width="300"
            height="400"
            [src]="musicMapURL()">
    </iframe>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1" style="background-color: mediumpurple">
    About artist
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2" style="background-color: orange">
    <pre>
      {{song.lyrics}}
    </pre>
  </mat-grid-tile>

</mat-grid-list>


