.content {
  display: flex;
  margin: 1.5% auto 5%;
  max-width: 90%;
}

#song-title {
  margin-bottom: 2px;
}

.title-heading {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2
}

.subtitle-heading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2
}

ul.details {
  list-style: none;
  padding: 0;
  margin: 0;


  li {
    display: flex;
    vertical-align: middle;
    margin-bottom: 4px;

    mat-icon {
      padding-right: 8px;
    }
  }
}


.wrapper {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 12px;
}

.box {
  border-radius: 5px;
  padding: 1%;
}

.song-detail {
  margin: 0 5% 5% 5%;
}

.song-lyrics {
  margin: 0 5% 5% 5%;
}

.music-map {
  width: 100%;
}

.album-info {
  grid-column: 1;
  grid-row: 1 / 3;
}


